{% extends 'base.html.twig' %}
{% block title %}
    agences
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-8">
                        <h4>Agences</h4>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-3 mt-md-0 float-end">
                            <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal"><i class="mdi mdi-plus-circle me-1"></i> Add agence</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="agences" class="table-responsive">{{ 'loading'|trans({}, 'messages') }}</div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h4 class="modal-title" id="myCenterModalLabel">Add Agence</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('agence_add') }}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                        </div>
                        <div class="mb-3">
                            <label for="position" class="form-label">Phone</label>
                            <input type="text" name="phone" class="form-control" id="position" placeholder="Enter phone">
                        </div>
                        <div class="mb-3">
                            <label for="company" class="form-label">Address</label>
                            <input type="text" name="address" class="form-control" id="company" placeholder="Enter address">
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" name="city" class="form-control" id="city" placeholder="Enter city">
                        </div>
                        <button type="submit" class="btn btn-outline-primary waves-effect waves-light">Save</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#agences').initDataTables({{ datatable_settings(datatable) }});
        });
        function deleteItem(id) {
            $.ajax({
                url: "{{ path('deleteagence_ajax') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    id:id,
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (err) {
                    alert("Error: Item can't delete");
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }
            });
        }
    </script>
{% endblock %}


