{% extends 'base.html.twig' %}
{% block title %}
    Update Price bouquet
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <form method="post">
        <div class="card">
            <div class="card-header">
                <h4>Modify bouquet: {{ bouquet.description }}</h4>
            </div>
            <div class="card-body">
                <input id="id_chanel" value="{{ bouquet.id }}" type="hidden">
                <div class="row mb-3">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input disabled type="text" value="{{ bouquet.description }}" class="form-control" id="name_chanel" placeholder="Name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                        <input type="number" value="{{ bouquet.price }}" class="form-control" name="price" id="price_chanel" autocomplete="off"
                               placeholder="Price">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary me-2" id="submit_chanel">Submit</button>
                <button class="btn btn-secondary">Cancel</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function removeRowAjax(id) {
            line = "#line_" + id;
            $(line).remove();

        }

    </script>
{% endblock %}


