{% extends 'base.html.twig' %}
{% block title %}
    Recapitulatif des activations
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4>Recapitulatif des activations</h4>
                <div class="row">
                    <div class="mb-3 col-md-2">
                        <label for="name" class="form-label">De</label>
                        <input type="date" name="name" class="form-control" id="at">
                    </div>
                    <div class="mb-3 col-md-2">
                        <label for="name" class="form-label">A</label>
                        <input type="date" name="name" class="form-control" id="to">
                    </div>
                    <div class=" col-md-2 mt-3">
                        <button class="btn btn-secondary" id="souscription_btn"><i class="mdi mdi-search-web"></i></button>
                        <button class="btn btn-success" id="print_souscription"><i class="mdi mdi-file-excel"></i></button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive"><table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Agent</th>
                            <th>Total credit(FCFA)</th>
                            <th>Total activations(FCFA)</th>
                        </tr>
                        </thead>
                        <tbody>
               {#         {% for item in activactions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.createdAt|date("Y-m-d h:i") }}</td>
                                <td>{{ item.card.numerocard }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                        {% endfor %}#}
                        </tbody>
                    </table></div>

            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="/js/fos_js_routes.js"></script>
    <script>
        $(function () {
            $('#souscription_btn').click(function () {
                var url = Routing.generate('etatsouscriptionbyagent', {
                    'to': $('#to').val(),
                    'at': $('#at').val(),
                    'agent': $('#agent_select').val(),
                });
                console.log(url)
                window.open(url,'_parent');
            })
            $('#print_souscription').click(function () {
                var url = Routing.generate('souscription_agent_export_xls', {
                    'to': $('#to').val(),
                    'at': $('#at').val(),
                    'agent': $('#agent_select').val(),
                });
                console.log(url)
                window.open(url,'_parent');
            })
        });

    </script>
{% endblock %}


